.tweet {
    padding: 12px 16px;
    display: flex;
}

.profile {
    width: 48px;
    height: 48px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-right: 12px;
}

.body img {
    width: 100%;
    border: 1px solid gainsboro;
    border-radius: 12px;
}

.info {
    font-size: 15px;
    color: #536471;
}

.info b {
    color: #0f1419;
}

.text {
    font-size: 15px;
    color: #0f1419;
    margin-block: 6px;
}

.actions {
    margin-top: 5px;
    display: flex;
}

.action {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.action * {
    color: #536471;
    cursor: pointer;
    margin-top: 8px;
    font-size: 18px !important;
}

.action span {
    margin-left: 6px;
    font-size: 13px !important;
}

.like * {
    color: red !important;
}


.divider {
    height: 1px;
    width: 100%;
    background-color: gainsboro;
}